<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand"><img style="width: 3rem;" src="../../assets/images/hospital.png" alt="">HSM..</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01" style="right: 0;position: absolute;">
            <ul class="navbar-nav me-auto">



                <li class="nav-item" style="position: absolute; left: -40rem;">
                    <a class="nav-link active" routerLink="/salle_docteur"><img style="width: 4rem;"
                            src="../../assets/images/salle dattente.png" class="btn btn-outline-light"
                            alt=""><!--Salle d'Attente--></a>
                </li>

                <li class="nav-item" style="position: absolute; left: -30rem;">
                    <a class="nav-link active" routerLink="/salle_consultation"><img style="width: 4rem;"
                            src="../../assets/images/salle consult.png" class="btn btn-outline-light"
                            alt=""><!--Salle d'Consultation--></a>
                </li>


                <li class="nav-item" style="position: absolute; left: -20rem;">
                    <a class="nav-link active" routerLink="/liste_rendez_vous_doctor"><img style="width: 4rem;"
                            src="../../assets/images/rr.png" class="btn btn-outline-light"
                            alt=""><!--Liste d'rendez vous--></a>
                </li>


                <li class="nav-item" style="position: absolute; left: -10rem;">
                    <a class="nav-link active" routerLink="/listeconsults"><img style="width: 4rem;"
                            src="../../assets/images/his.png" class="btn btn-outline-light"
                            alt=""><!--l'historique--></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/login_Doctor"><img style="width: 4rem;"
                            src="../../assets/images/deconection.png" class="btn btn-outline-light" alt=""></a>
                </li>





            </ul>

        </div>
    </div>
</nav>