<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">

        <a class="navbar-brand"><img style="width: 3rem;" src="../../assets/images/hospital.png" alt="">HSM..</a>

        <div class="collapse navbar-collapse" id="navbarColor01" style="right: 0;position: absolute;">
            <ul class="navbar-nav me-auto">



                <li class="nav-item" style="position: absolute; left: -70rem;">
                    <a class="nav-link active" routerLink="/liste"><img style="width: 4rem;"
                            src="../../assets/images/aa.png" class="btn btn-outline-light" alt=""><!--Inscription--></a>
                </li>


                <li class="nav-item" style="position: absolute; left: -60rem;">
                    <a class="nav-link active" routerLink="/salle"><img style="width: 4rem;"
                            src="../../assets/images/bb.png" class="btn btn-outline-light"
                            alt=""><!--Salle d'examen--></a>
                </li>

                <li class="nav-item" style="position: absolute; left: -50rem;">
                    <a class="nav-link active" routerLink="/salle_attente_secretaire"><img style="width: 4rem;"
                            src="../../assets/images/salle datente.png" class="btn btn-outline-light"
                            alt=""><!--Salle d'Attente--></a>
                </li>


                <li class="nav-item" style="position: absolute; left: -40rem;">
                    <a class="nav-link active" routerLink="/liste_Paiment"><img style="width: 4rem;"
                            src="../../assets/images/pp.png" class="btn btn-outline-light" alt=""><!--Paiement--></a>
                </li>

                <li class="nav-item" style="position: absolute; left: -30rem;">
                    <a class="nav-link active" routerLink="/liste_historique_paiment"><img style="width: 4rem;"
                            src="../../assets/images/payment.png" class="btn btn-outline-light"
                            alt=""><!--Historique d'Paiement--></a>
                </li>

                <li class="nav-item" style="position: absolute; left: -20rem;">
                    <a class="nav-link active" routerLink="/liste_rendez_vous"><img style="width: 4rem;"
                            src="../../assets/images/rr.png" class="btn btn-outline-light"
                            alt=""><!--Liste d'rendez vous--></a>
                </li>

                <li class="nav-item" style="position: absolute; left: -10rem;">
                    <a class="nav-link active" routerLink="/liste_patient_onligne"><img style="width: 4rem;"
                            src="../../assets/images/oo.png" class="btn btn-outline-light"
                            alt=""><!--Liste d'Patients On Ligne--></a>
                </li>


                <li class="nav-item">
                    <a class="nav-link active" routerLink="/login_secretaire"><img style="width: 4rem;"
                            src="../../assets/images/deconection.png" class="btn btn-outline-light" alt=""></a>
                </li>




            </ul>

        </div>
    </div>
</nav>