<app-header-patient></app-header-patient>

<body>
   
    <section>
        <h1>
            <span>B</span>
            <span>i</span>
            <span>e</span>
            <span>n</span>
            <span>v</span>
            <span>e</span>
            <span>n</span>
            <span>u</span>
            <span>e</span>
            <span>.</span>
            <span>.</span>
            <span><img src="../../assets/images/6 (1).png" width="100rem" alt=""><img src="../../assets/images/0.png" width="100rem" alt=""></span>
        </h1>
    </section>
</body>