
<img style="position: absolute; width: 2rem;" src="../../assets/images/parametre.png" alt=""
    routerLink="/login_Directeur">
<img style="position: absolute; width: 20rem;top: 5rem;left: 8rem;" src="../../assets/images/Secritaire.png" alt=""
    routerLink="/login_secretaire">
<img style="position: absolute; width: 20rem;top: 5rem;right: 37rem;" src="../../assets/images/doctor1 (1).png" alt=""
    routerLink="/login_Doctor">

<img style="position: absolute; width: 20rem;top: 5rem;right: 8rem;" src="../../assets/images/pat1.png" alt=""
    routerLink="/login_Patient">
<div style=" position: absolute;top: 28rem; right: 42rem;">
    <h4><b>
            je suis médecin</b></h4>
</div>
<div style=" position: absolute;top: 28rem; right: 13rem;">
    <h4><b>
        je suis patiente</b></h4>
</div>
<div style=" position: absolute;top: 28rem; left: 11rem;">
    <h4><b>
        je suis secrétaire</b></h4>
</div>