<app-header></app-header>
<div class="container"  class="text-success">
    <h1>
        <p class="text">_{{title}}_</p>
    </h1>

</div>
<input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search"
    style=" position: absolute;width: 12rem; right: 15rem;">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit"
    style=" position: absolute;right: 8rem;">Recherche</button>
<br>
<br>

<div class="col col-md-10 offset-md-1">
    <table class="table table-hover">
        <thead>
            <th></th>
            <th>Numéro</th>
            <th>Etat Maladie</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Sexe</th>
            <th>Situation Familiale</th>
            <th>Date Naissance</th>
            <th>Age</th>
            <th>Date Arrivé</th>
            <th>Heure D'Arrivé</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let patient of tpatient">
                <td><img src="../../assets/images/{{patient.image}}"  alt="..."
                    style="width: 6rem; border-radius: 50%;" (click)="editimg(patient.id)"></td>
                <td><br>{{ patient.numero}}</td>
                <td><br>
                    <span *ngIf="patient.etatmaladie === 'Normal' " class="text-success">Normal</span>
                    <span *ngIf="patient.etatmaladie === 'Urgent' " class="text-danger">Urgent</span>
                </td>
                <td><br>{{ patient.nom }}</td>
                <td><br>{{ patient.prenom }}</td>
                <td><br>{{ patient.sexe }}</td>
                <td><br>{{ patient.situationFamilial}}</td>
                <td><br>{{ patient.datenaissance }}</td>
                <td><br>{{ patient.age }}</td>
                <td><br>{{ patient.datearrive }}</td>
                <td><br>{{ patient.heurearrive }}</td>
                <td><br><img style="width: 3rem;" class="btn btn-outline-warning" src="../../assets/images/examen1.png"
                        alt="" (click)="addsalle(patient.id)">---<img style="width: 3rem;"
                        class="btn btn-outline-success" src="../../assets/images/modife.png" alt=""
                        (click)="edit(patient.id)">---<img style="width: 3rem;" class="btn btn-outline-danger"
                        src="../../assets/images/5305859.png" alt="" (click)="delete(patient.id)"></td>


            </tr>
        </tbody>
    </table>
</div>